/.vscode
CSS/Aditya_Task.zip
/ASP .Net MVC/TranningMVCApp/.vs/TranningMVCApp/FileContentIndex/62b706b0-f6df-4b9f-a429-d98c799d500e.vsidx
/ASP .Net MVC/TranningMVCApp/.vs/TranningMVCApp/FileContentIndex/673d84f7-de6e-4b51-99ec-3507eb4f13c4.vsidx
*.vsidx
mail.html
