<a href="@ViewData.Model" target="_blank">@ViewData.Model</a>

@* Now it dpen url in new tage where we use  [DataType(DataType.Url)]
    But it apply in all where we use this to prevent we create new file and use UIHint
*@