@model TranningMVCApp.Models.City

<table style="font-family:Arial; border:1px solid black; width: 300px">
    <tr>
        <td>
            <table>
                <tr>
                    <td><b>Name:</b></td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td><b>IsSelected:</b></td>
                    <td>@Model.IsSelected</td>
                </tr>
            </table>
        </td>
    </tr>
</table>