@model IEnumerable<TranningMVCApp.Models.City>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm())
            {
                @Html.EditorForModel()

    <br/>
    <input type="submit" value="sumit"/>
            }   