USE [master]
GO
/****** Object:  Database [DBQRT]    Script Date: 17-02-2024 12:50:12 ******/
CREATE DATABASE [DBQRT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBQRT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DBQRT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBQRT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DBQRT_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBQRT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBQRT]
GO
USE [DBQRT]
GO
/****** Object:  User [QRTDBUser#2024]    Script Date: 17-02-2024 12:50:16 ******/
CREATE USER [QRTDBUser#2024] FOR LOGIN [QRTDBUser#2024] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [QRTDBUser#2024]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [QRTDBUser#2024]
GO
ALTER ROLE [db_datareader] ADD MEMBER [QRTDBUser#2024]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [QRTDBUser#2024]
GO
/****** Object:  UserDefinedFunction [dbo].[splitstring]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[splitstring]
(
    @String NVARCHAR(MAX),
    @Delimiter CHAR(1)
)
RETURNS @Result TABLE (Value NVARCHAR(MAX))
AS
BEGIN
    DECLARE @DelimiterPosition INT;

    WHILE CHARINDEX(@Delimiter, @String) > 0
    BEGIN
        SET @DelimiterPosition = CHARINDEX(@Delimiter, @String);
        INSERT INTO @Result (Value) VALUES (SUBSTRING(@String, 1, @DelimiterPosition - 1));
        SET @String = SUBSTRING(@String, @DelimiterPosition + 1, LEN(@String));
    END;

    IF LEN(@String) > 0
        INSERT INTO @Result (Value) VALUES (@String);

    RETURN;
END;
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Gender] [varchar](10) NULL,
	[UserPassword] [nvarchar](max) NULL,
	[FirstName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[CompanyIDF] [uniqueidentifier] NULL,
	[SiteIDF] [nvarchar](max) NULL,
	[CreationDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[isActive] [bit] NOT NULL,
	[ActiveSiteID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryMaster]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryMaster](
	[CategoryIDP] [uniqueidentifier] NOT NULL,
	[CompanyIDF] [uniqueidentifier] NULL,
	[SiteIDF] [uniqueidentifier] NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CategoryImagePath] [nvarchar](max) NOT NULL,
	[isActive] [bit] NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_CategoryMaster] PRIMARY KEY CLUSTERED 
(
	[CategoryIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityMaster]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityMaster](
	[CityIDP] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NULL,
	[StateIDF] [int] NULL,
 CONSTRAINT [PK_CityMaster_1] PRIMARY KEY CLUSTERED 
(
	[CityIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyMaster]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyMaster](
	[CompanyIDP] [uniqueidentifier] NOT NULL,
	[CompanyTypeIDF] [uniqueidentifier] NULL,
	[CountryIDF] [int] NULL,
	[StateIDF] [int] NULL,
	[CityIDF] [int] NULL,
	[CompanyName] [nvarchar](250) NULL,
	[CompanyLogoPath] [nvarchar](max) NULL,
	[HQ_Pincode] [nvarchar](10) NULL,
	[HQ_Address] [nvarchar](500) NULL,
	[ContactEmail] [nvarchar](100) NULL,
	[ContactNumber] [nvarchar](20) NULL,
	[RegistrationDate] [datetime] NOT NULL,
	[Password] [nvarchar](100) NULL,
	[CEOName] [nvarchar](100) NULL,
	[CreationDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[isActive] [bit] NULL,
	[GSTINNumber] [varchar](15) NULL,
	[Gender] [nvarchar](10) NULL,
 CONSTRAINT [PK__CompanyM__5ABCA54F8D1EAC01] PRIMARY KEY CLUSTERED 
(
	[CompanyIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyTypeMaster]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyTypeMaster](
	[CompanyTypeIDP] [uniqueidentifier] NOT NULL,
	[CompanyType] [nvarchar](100) NOT NULL,
	[isActive] [bit] NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyTypeIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CountryMaster]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryMaster](
	[CountryIDP] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
	[CountryCode] [varchar](5) NULL,
 CONSTRAINT [PK_CountryMaster_1] PRIMARY KEY CLUSTERED 
(
	[CountryIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLogs]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLogs](
	[LogId] [uniqueidentifier] NOT NULL,
	[ErrorMsg] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[EntryDate] [datetime] NULL,
	[UserID] [uniqueidentifier] NULL,
	[CompanyIDF] [uniqueidentifier] NULL,
	[SiteIDF] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedbackQuestionsMaster]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackQuestionsMaster](
	[QuestionIDP] [uniqueidentifier] NOT NULL,
	[CompanyIDF] [uniqueidentifier] NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[isActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_FeedbackQuestions Master] PRIMARY KEY CLUSTERED 
(
	[QuestionIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuMaster]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuMaster](
	[MenuItemIDP] [uniqueidentifier] NOT NULL,
	[CategoryIDF] [uniqueidentifier] NOT NULL,
	[SubCategoryIDF] [uniqueidentifier] NOT NULL,
	[CompanyIDF] [uniqueidentifier] NULL,
	[SiteIDF] [uniqueidentifier] NULL,
	[ItemName] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[IsProductOfDay] [bit] NOT NULL,
	[IndexInCategory] [int] NULL,
	[ItemImagePath] [nvarchar](max) NULL,
	[isActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_MenuMaster] PRIMARY KEY CLUSTERED 
(
	[MenuItemIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModifierMaster]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModifierMaster](
	[ModifierIDP] [uniqueidentifier] NOT NULL,
	[CompanyIDF] [uniqueidentifier] NULL,
	[SiteIDF] [uniqueidentifier] NULL,
	[ModifierName] [nvarchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[isActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ModifierMaster] PRIMARY KEY CLUSTERED 
(
	[ModifierIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcErrorLog]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcErrorLog](
	[ExceptionID] [uniqueidentifier] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[ProcedureName] [nvarchar](255) NOT NULL,
	[ErrorMessage] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExceptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SitesMaster]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SitesMaster](
	[SiteIDP] [uniqueidentifier] NOT NULL,
	[CompanyIDF] [uniqueidentifier] NOT NULL,
	[CountryIDF] [int] NOT NULL,
	[StateIDF] [int] NOT NULL,
	[CityIDF] [int] NOT NULL,
	[SitePinCode] [nvarchar](20) NOT NULL,
	[SiteName] [nvarchar](250) NOT NULL,
	[SiteAddress] [nvarchar](500) NOT NULL,
	[SiteContactNumber] [nvarchar](15) NULL,
	[SiteContactEmail] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SitesMaster] PRIMARY KEY CLUSTERED 
(
	[SiteIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateMaster]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateMaster](
	[StateIDP] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](50) NULL,
	[CountryIDF] [int] NULL,
 CONSTRAINT [PK_StateMaster_1] PRIMARY KEY CLUSTERED 
(
	[StateIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategoryMaster]    Script Date: 17-02-2024 12:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategoryMaster](
	[SubCategoryIDP] [uniqueidentifier] NOT NULL,
	[CategoryIDF] [uniqueidentifier] NOT NULL,
	[CompanyIDF] [uniqueidentifier] NULL,
	[SiteIDF] [uniqueidentifier] NULL,
	[SubCategoryName] [nvarchar](100) NOT NULL,
	[SubCategoryImagePath] [nvarchar](max) NULL,
	[isActive] [bit] NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SubCategoryMaster] PRIMARY KEY CLUSTERED 
(
	[SubCategoryIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'8E3194B7-3293-4AAD-8400-92EBD4296F8A', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'F3CF8A99-B384-4218-B8A2-679C7F9F683D', N'CEO')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'E9F13736-56E3-4D31-BB92-F1D4A3643E56', N'Chef')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'ae367c6e-3b1e-4b45-91fd-f77049fa8482', N'0B294A06-4B35-4C5A-9614-0F7C9CDED588')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'078b13cc-5bf4-408d-a2b0-bbdac3ac4c27', N'1C7EF9E6-F05D-4759-971F-3E7CDD2DC5F8')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7957ebe6-007b-4674-8e33-5aaa7689265a', N'1C7EF9E6-F05D-4759-971F-3E7CDD2DC5F8')
GO
INSERT [dbo].[CategoryMaster] ([CategoryIDP], [CompanyIDF], [SiteIDF], [CategoryName], [CategoryImagePath], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'd14e2a90-8c5c-43c1-90cf-0746dfff7015', N'193b37f8-c7f4-4531-90d2-3de1c661e8e2', N'8caf47de-0e0d-428f-9872-b6caf0744fa8', N'check delete three', N'~/Content/Images/CAT_638436873559087601.jpg', 1, CAST(N'2024-02-16T13:35:56.350' AS DateTime), N'4a90c0dc-a7b5-4bb4-a628-7a41ed5fa18a', NULL, N'4a4bce7f-fe76-4cf4-a52d-5b7b291b0bc3')
INSERT [dbo].[CategoryMaster] ([CategoryIDP], [CompanyIDF], [SiteIDF], [CategoryName], [CategoryImagePath], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'abc55fa5-5d2c-456d-848d-190d5f8efb19', N'4ee08f5a-167c-4cf4-be5f-107579f4e32f', N'96948819-7f12-4a5b-82f1-b007efc6b159', N'Pizza', N'~/Content/Images/CAT_638436166851189960.png', 1, CAST(N'2024-02-15T17:58:06.883' AS DateTime), N'8a211dc0-ad23-4b80-8bb5-f613efb446b4', NULL, N'e960ef1a-15bc-4a16-8d79-4668296a3151')
INSERT [dbo].[CategoryMaster] ([CategoryIDP], [CompanyIDF], [SiteIDF], [CategoryName], [CategoryImagePath], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'a8701ccb-51c8-4ce6-b80e-45cda50f36d1', N'4ee08f5a-167c-4cf4-be5f-107579f4e32f', N'e166be98-ed02-4ded-9cec-17778d6d90ce', N'Burger', N'~/Content/Images/CAT_638436889944317723.png', 1, CAST(N'2024-02-16T14:03:14.680' AS DateTime), N'a35ca135-4c38-42a2-8aec-da4d4746aad9', NULL, N'a1e22535-dc05-46f4-884d-13740446247b')
GO
SET IDENTITY_INSERT [dbo].[CityMaster] ON 

INSERT [dbo].[CityMaster] ([CityIDP], [CityName], [StateIDF]) VALUES (15552, N'Bombuflat', 1625)
INSERT [dbo].[CityMaster] ([CityIDP], [CityName], [StateIDF]) VALUES (15553, N'Garacharma', 1625)
INSERT [dbo].[CityMaster] ([CityIDP], [CityName], [StateIDF]) VALUES (15554, N'Port Blair', 1625)
GO
SET IDENTITY_INSERT [dbo].[CityMaster] OFF
GO
INSERT [dbo].[CompanyTypeMaster] ([CompanyTypeIDP], [CompanyType], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'495ef81d-e218-4ef7-89a5-00691fc5ae4d', N'Retail Store', 1, CAST(N'2024-02-01T18:17:21.450' AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(N'2024-02-02T12:36:29.177' AS DateTime), N'a3f61166-5e48-467f-b31f-26b90cad0971')
INSERT [dbo].[CompanyTypeMaster] ([CompanyTypeIDP], [CompanyType], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'f61b4e00-60a6-41f9-8ae9-082677e0b21e', N'check', 1, CAST(N'2024-02-04T19:34:00.760' AS DateTime), N'00000000-0000-0000-0000-000000000001', NULL, NULL)
INSERT [dbo].[CompanyTypeMaster] ([CompanyTypeIDP], [CompanyType], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'24d57a26-c70b-4938-b96a-23766c7bd326', N'Cafe', 1, CAST(N'2024-02-02T11:58:55.503' AS DateTime), N'a3f61166-5e48-467f-b31f-26b90cad0971', CAST(N'2024-02-03T16:45:00.757' AS DateTime), N'a3f61166-5e48-467f-b31f-26b90cad0971')
GO
SET IDENTITY_INSERT [dbo].[CountryMaster] ON 

INSERT [dbo].[CountryMaster] ([CountryIDP], [CountryName], [CountryCode]) VALUES (101, N'India', N'IN')
SET IDENTITY_INSERT [dbo].[CountryMaster] OFF
GO
