USE [master]
GO
/****** Object:  Database [DBQRT]    Script Date: 07-02-2024 08:13:52 ******/
CREATE DATABASE [DBQRT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBQRT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DBQRT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBQRT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\DBQRT_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBQRT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBQRT]
GO
USE [DBQRT]
GO
/****** Object:  User [QRTDBUser#2024]    Script Date: 07-02-2024 08:13:56 ******/
CREATE USER [QRTDBUser#2024] FOR LOGIN [QRTDBUser#2024] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [QRTDBUser#2024]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [QRTDBUser#2024]
GO
ALTER ROLE [db_datareader] ADD MEMBER [QRTDBUser#2024]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [QRTDBUser#2024]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FirstName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[CompanyIDF] [uniqueidentifier] NULL,
	[SiteIDF] [uniqueidentifier] NULL,
	[CreationDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryMaster]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryMaster](
	[CategoryIDP] [uniqueidentifier] NOT NULL,
	[CompanyIDF] [uniqueidentifier] NULL,
	[SiteIDF] [uniqueidentifier] NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CategoryImagePath] [nvarchar](max) NULL,
	[isActive] [bit] NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_CategoryMaster] PRIMARY KEY CLUSTERED 
(
	[CategoryIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityMaster]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityMaster](
	[CityIDP] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](50) NULL,
	[StateIDF] [int] NULL,
 CONSTRAINT [PK_CityMaster_1] PRIMARY KEY CLUSTERED 
(
	[CityIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyMaster]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyMaster](
	[CompanyIDP] [uniqueidentifier] NOT NULL,
	[CompanyTypeIDF] [uniqueidentifier] NULL,
	[CountryIDF] [int] NULL,
	[StateIDF] [int] NULL,
	[CityIDF] [int] NULL,
	[CompanyName] [nvarchar](250) NULL,
	[CompanyLogoPath] [nvarchar](max) NULL,
	[HQ_Pincode] [nvarchar](10) NULL,
	[HQ_Address] [nvarchar](500) NULL,
	[ContactEmail] [nvarchar](100) NULL,
	[ContactNumber] [nvarchar](20) NULL,
	[RegistrationDate] [datetime] NULL,
	[Password] [nvarchar](100) NULL,
	[CEOName] [nvarchar](100) NULL,
	[CreationDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[isActive] [bit] NULL,
	[GSTINNumber] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyTypeMaster]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyTypeMaster](
	[CompanyTypeIDP] [uniqueidentifier] NOT NULL,
	[CompanyType] [nvarchar](100) NOT NULL,
	[isActive] [bit] NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyTypeIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CountryMaster]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryMaster](
	[CountryIDP] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
	[CountryCode] [varchar](5) NULL,
 CONSTRAINT [PK_CountryMaster_1] PRIMARY KEY CLUSTERED 
(
	[CountryIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLogs]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLogs](
	[LogId] [uniqueidentifier] NOT NULL,
	[ErrorMsg] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[EntryDate] [datetime] NULL,
	[UserID] [uniqueidentifier] NULL,
	[CompanyIDF] [uniqueidentifier] NULL,
	[SiteIDF] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedbackQuestionsMaster]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedbackQuestionsMaster](
	[QuestionIDP] [uniqueidentifier] NOT NULL,
	[CompanyIDF] [uniqueidentifier] NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[isActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_FeedbackQuestions Master] PRIMARY KEY CLUSTERED 
(
	[QuestionIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcErrorLog]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcErrorLog](
	[ExceptionID] [uniqueidentifier] NOT NULL,
	[EntryDateTime] [datetime] NOT NULL,
	[ProcedureName] [nvarchar](255) NOT NULL,
	[ErrorMessage] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExceptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SitesMaster]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SitesMaster](
	[SiteIDP] [uniqueidentifier] NOT NULL,
	[CompanyIDF] [uniqueidentifier] NOT NULL,
	[CountryIDF] [int] NOT NULL,
	[StateIDF] [int] NOT NULL,
	[CityIDF] [int] NOT NULL,
	[SitePinCode] [nvarchar](20) NOT NULL,
	[SiteName] [nvarchar](250) NOT NULL,
	[SiteAddress] [nvarchar](500) NOT NULL,
	[SiteContactEmail] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SitesMaster] PRIMARY KEY CLUSTERED 
(
	[SiteIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateMaster]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateMaster](
	[StateIDP] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](50) NULL,
	[CountryIDF] [int] NULL,
 CONSTRAINT [PK_StateMaster_1] PRIMARY KEY CLUSTERED 
(
	[StateIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategoryMaster]    Script Date: 07-02-2024 08:13:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategoryMaster](
	[SubCategoryIDP] [uniqueidentifier] NOT NULL,
	[CategoryIDF] [uniqueidentifier] NOT NULL,
	[CompanyIDF] [uniqueidentifier] NULL,
	[SiteIDF] [uniqueidentifier] NULL,
	[SubCategoryName] [nvarchar](100) NOT NULL,
	[SubCategoryImagePath] [nvarchar](max) NULL,
	[isActive] [bit] NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdationDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_SubCategoryMaster] PRIMARY KEY CLUSTERED 
(
	[SubCategoryIDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'8E3194B7-3293-4AAD-8400-92EBD4296F8A', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'F3CF8A99-B384-4218-B8A2-679C7F9F683D', N'CEO')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'E9F13736-56E3-4D31-BB92-F1D4A3643E56', N'Chef')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0ae15b39-9be2-4fec-bf95-23a025712552', N'0B294A06-4B35-4C5A-9614-0F7C9CDED588')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0ec6e090-1137-4207-a05c-89208e8e8223', N'0B294A06-4B35-4C5A-9614-0F7C9CDED588')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a80d71a0-d037-413d-88d2-335036c6a568', N'0B294A06-4B35-4C5A-9614-0F7C9CDED588')
GO
INSERT [dbo].[CategoryMaster] ([CategoryIDP], [CompanyIDF], [SiteIDF], [CategoryName], [CategoryImagePath], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'3f888731-3051-47b5-81c4-09c29a000be6', N'e90d4383-2615-4b52-bb32-30d08f06d6d5', N'14d36704-9e3f-4969-95aa-eaeceb89118e', N'Punjabi Sabji', N'~/Content/Images/Punjabi Sabji/PanjabiSubji243957439.png', 1, CAST(N'2024-02-06T11:39:57.733' AS DateTime), N'0ae15b39-9be2-4fec-bf95-23a025712552', NULL, N'1d08f3db-e7f8-41ed-8395-dfe8556d7457')
INSERT [dbo].[CategoryMaster] ([CategoryIDP], [CompanyIDF], [SiteIDF], [CategoryName], [CategoryImagePath], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'3e42c56c-1d4b-4d0f-bb78-1b955b8d06a4', NULL, NULL, N'Soup', N'~/Content/Images/Soup/Soup244802521.png', 1, CAST(N'2024-02-05T15:48:02.917' AS DateTime), N'a3f61166-5e48-467f-b31f-26b90cad0971', NULL, N'2af972d9-c14c-4df7-8b40-1868d23e028b')
INSERT [dbo].[CategoryMaster] ([CategoryIDP], [CompanyIDF], [SiteIDF], [CategoryName], [CategoryImagePath], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'3df527ee-e024-4f67-ba33-2386f4f8ca3f', NULL, NULL, N'Tacos', N'~/Content/Images/Tacos/Tacos244831048.png', 0, CAST(N'2024-02-05T15:48:31.440' AS DateTime), N'a3f61166-5e48-467f-b31f-26b90cad0971', NULL, N'27e7c5d6-d84c-449a-acbd-ff1bd1aebd83')
GO
SET IDENTITY_INSERT [dbo].[CityMaster] ON 

INSERT [dbo].[CityMaster] ([CityIDP], [CityName], [StateIDF]) VALUES (15552, N'Bombuflat', 1625)
INSERT [dbo].[CityMaster] ([CityIDP], [CityName], [StateIDF]) VALUES (15553, N'Garacharma', 1625)
INSERT [dbo].[CityMaster] ([CityIDP], [CityName], [StateIDF]) VALUES (15554, N'Port Blair', 1625)
GO
SET IDENTITY_INSERT [dbo].[CityMaster] OFF
GO
INSERT [dbo].[CompanyTypeMaster] ([CompanyTypeIDP], [CompanyType], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'495ef81d-e218-4ef7-89a5-00691fc5ae4d', N'Retail Store', 1, CAST(N'2024-02-01T18:17:21.450' AS DateTime), N'00000000-0000-0000-0000-000000000000', CAST(N'2024-02-02T12:36:29.177' AS DateTime), N'a3f61166-5e48-467f-b31f-26b90cad0971')
INSERT [dbo].[CompanyTypeMaster] ([CompanyTypeIDP], [CompanyType], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'f61b4e00-60a6-41f9-8ae9-082677e0b21e', N'check', 1, CAST(N'2024-02-04T19:34:00.760' AS DateTime), N'00000000-0000-0000-0000-000000000001', NULL, NULL)
INSERT [dbo].[CompanyTypeMaster] ([CompanyTypeIDP], [CompanyType], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'24d57a26-c70b-4938-b96a-23766c7bd326', N'Cafe', 1, CAST(N'2024-02-02T11:58:55.503' AS DateTime), N'a3f61166-5e48-467f-b31f-26b90cad0971', CAST(N'2024-02-03T16:45:00.757' AS DateTime), N'a3f61166-5e48-467f-b31f-26b90cad0971')
GO
SET IDENTITY_INSERT [dbo].[CountryMaster] ON 

INSERT [dbo].[CountryMaster] ([CountryIDP], [CountryName], [CountryCode]) VALUES (101, N'India', N'IN')
SET IDENTITY_INSERT [dbo].[CountryMaster] OFF
GO
INSERT [dbo].[ErrorLogs] ([LogId], [ErrorMsg], [StackTrace], [EntryDate], [UserID], [CompanyIDF], [SiteIDF]) VALUES (N'92d82f92-74ba-4bfc-8eaa-95e022f0c928', N'The method or operation is not implemented.', N'   at QRT.Controllers.RegistrationController.Check() in D:\AdityaWorkspace\QRT\QRT\Controllers\RegistrationController.cs:line 77', CAST(N'2024-02-03T12:15:57.060' AS DateTime), N'a3f61166-5e48-467f-b31f-26b90cad0971', N'00000000-0000-0000-0000-000000000000', N'00000000-0000-0000-0000-000000000000')
GO
INSERT [dbo].[FeedbackQuestionsMaster] ([QuestionIDP], [CompanyIDF], [QuestionText], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'a3f61166-5e48-467f-b31f-26b90cad0971', NULL, N'ABCDEFGHIJKL', 0, CAST(N'2024-02-06T00:00:00.000' AS DateTime), N'a3f61166-5e48-467f-b31f-26b90cad0971', NULL, NULL)
GO
INSERT [dbo].[ProcErrorLog] ([ExceptionID], [EntryDateTime], [ProcedureName], [ErrorMessage]) VALUES (N'527cfd49-9ed6-4717-bcfe-808592a60701', CAST(N'2024-02-03T12:46:18.263' AS DateTime), N'DemoErrorProcedure', N'Divide by zero error encountered.')
INSERT [dbo].[ProcErrorLog] ([ExceptionID], [EntryDateTime], [ProcedureName], [ErrorMessage]) VALUES (N'ccb22dc7-9285-46a9-b322-a600e7874b6f', CAST(N'2024-02-03T12:45:27.007' AS DateTime), N'DemoErrorProcedure', N'Divide by zero error encountered.')
GO
INSERT [dbo].[SitesMaster] ([SiteIDP], [CompanyIDF], [CountryIDF], [StateIDF], [CityIDF], [SitePinCode], [SiteName], [SiteAddress], [SiteContactEmail], [IsActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'6016bcaa-033a-41ed-8923-09109c088d20', N'3b368c68-7c44-4fc9-a700-73dfe393f80c', 101, 1636, 16562, N'360022', N'New Techh', N'aaaa', N'newtech@qrt.com', 1, CAST(N'2024-02-06T18:20:52.933' AS DateTime), N'4c7894b0-6d2a-417c-a26a-8302d06ecb9d', CAST(N'2024-02-06T18:21:10.713' AS DateTime), N'4c7894b0-6d2a-417c-a26a-8302d06ecb9d')
INSERT [dbo].[SitesMaster] ([SiteIDP], [CompanyIDF], [CountryIDF], [StateIDF], [CityIDF], [SitePinCode], [SiteName], [SiteAddress], [SiteContactEmail], [IsActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'3f5d8343-dadc-4566-96de-099d7504eecf', N'954b9631-18db-470d-81aa-74056a122556', 101, 1636, 16562, N'360022', N'HeadQuarter', N'kkkkk', N'adityajoshi2107@gmail.com', 1, CAST(N'2024-02-06T13:29:53.747' AS DateTime), N'a3f61166-5e48-467f-b31f-26b90cad0971', NULL, NULL)
INSERT [dbo].[SitesMaster] ([SiteIDP], [CompanyIDF], [CountryIDF], [StateIDF], [CityIDF], [SitePinCode], [SiteName], [SiteAddress], [SiteContactEmail], [IsActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'e0d6493d-3e2c-4596-9fb0-1f792e676821', N'e90d4383-2615-4b52-bb32-30d08f06d6d5', 101, 1636, 16334, N'380002', N'Check ', N'abcdefg', N'site1@qrt.com', 0, CAST(N'2024-02-05T15:57:22.353' AS DateTime), N'0ae15b39-9be2-4fec-bf95-23a025712552', CAST(N'2024-02-05T16:53:12.343' AS DateTime), N'0ae15b39-9be2-4fec-bf95-23a025712552')
GO
SET IDENTITY_INSERT [dbo].[StateMaster] ON 

INSERT [dbo].[StateMaster] ([StateIDP], [StateName], [CountryIDF]) VALUES (1625, N'Andaman and Nicobar Islands', 101)
INSERT [dbo].[StateMaster] ([StateIDP], [StateName], [CountryIDF]) VALUES (1626, N'Andhra Pradesh', 101)
INSERT [dbo].[StateMaster] ([StateIDP], [StateName], [CountryIDF]) VALUES (1627, N'Arunachal Pradesh', 101)
SET IDENTITY_INSERT [dbo].[StateMaster] OFF
GO
INSERT [dbo].[SubCategoryMaster] ([SubCategoryIDP], [CategoryIDF], [CompanyIDF], [SiteIDF], [SubCategoryName], [SubCategoryImagePath], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'0f885bc0-ba71-4b1a-9fe5-1087776e4fe3', N'0bf5e363-6888-4b00-b765-3dfc91979fa4', NULL, NULL, N'Hot and Sour Soup', NULL, 1, CAST(N'2024-02-03T10:40:07.463' AS DateTime), N'a3f61166-5e48-467f-b31f-26b90cad0971', NULL, NULL)
INSERT [dbo].[SubCategoryMaster] ([SubCategoryIDP], [CategoryIDF], [CompanyIDF], [SiteIDF], [SubCategoryName], [SubCategoryImagePath], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'368fb832-60cc-4dcd-836e-195536381436', N'267484af-5405-4e5b-b0bb-deaa09084ea8', N'e90d4383-2615-4b52-bb32-30d08f06d6d5', N'14d36704-9e3f-4969-95aa-eaeceb89118e', N'Vegetable Dhosa', N'~/Content/Images/Vegetable Dhosa/Vegitable dhosa245723024.png', 0, CAST(N'2024-02-06T12:57:23.383' AS DateTime), N'0ae15b39-9be2-4fec-bf95-23a025712552', NULL, NULL)
INSERT [dbo].[SubCategoryMaster] ([SubCategoryIDP], [CategoryIDF], [CompanyIDF], [SiteIDF], [SubCategoryName], [SubCategoryImagePath], [isActive], [CreationDate], [CreatedBy], [UpdationDate], [UpdatedBy]) VALUES (N'9e919803-50e0-4144-9f7d-1ecefa576f6e', N'ecdf3c0d-2321-4445-a3d7-93e079c01e42', NULL, NULL, N'ABC2', NULL, 1, CAST(N'2024-02-03T17:04:10.090' AS DateTime), N'a3f61166-5e48-467f-b31f-26b90cad0971', NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 07-02-2024 08:14:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 07-02-2024 08:14:24 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 07-02-2024 08:14:24 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 07-02-2024 08:14:24 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 07-02-2024 08:14:24 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 07-02-2024 08:14:24 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF_AspNetUsers_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[CategoryMaster] ADD  CONSTRAINT [DF_CategoryMaster_CategoryIDP]  DEFAULT (newid()) FOR [CategoryIDP]
GO
ALTER TABLE [dbo].[CategoryMaster] ADD  CONSTRAINT [DF_CategoryMaster_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[CategoryMaster] ADD  CONSTRAINT [DF_CategoryMaster_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[CategoryMaster] ADD  CONSTRAINT [DF_CategoryMaster_CreatedBy]  DEFAULT (newid()) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[CategoryMaster] ADD  CONSTRAINT [DF_CategoryMaster_UpdatedBy]  DEFAULT (newid()) FOR [UpdatedBy]
GO
ALTER TABLE [dbo].[CompanyMaster] ADD  DEFAULT (newid()) FOR [CompanyIDP]
GO
ALTER TABLE [dbo].[CompanyMaster] ADD  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[CompanyMaster] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[CompanyTypeMaster] ADD  DEFAULT (newid()) FOR [CompanyTypeIDP]
GO
ALTER TABLE [dbo].[CompanyTypeMaster] ADD  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[CompanyTypeMaster] ADD  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[ErrorLogs] ADD  CONSTRAINT [DF_ExceptionLogs_LogId]  DEFAULT (newid()) FOR [LogId]
GO
ALTER TABLE [dbo].[ErrorLogs] ADD  CONSTRAINT [DF_ExceptionLogs_LogTime]  DEFAULT (getdate()) FOR [EntryDate]
GO
ALTER TABLE [dbo].[FeedbackQuestionsMaster] ADD  CONSTRAINT [DF_FeedbackQuestions Master_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[FeedbackQuestionsMaster] ADD  CONSTRAINT [DF_FeedbackQuestions Master_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[ProcErrorLog] ADD  DEFAULT (newid()) FOR [ExceptionID]
GO
ALTER TABLE [dbo].[ProcErrorLog] ADD  DEFAULT (getdate()) FOR [EntryDateTime]
GO
ALTER TABLE [dbo].[SitesMaster] ADD  CONSTRAINT [DF_SitesMaster_SiteIDP]  DEFAULT (newid()) FOR [SiteIDP]
GO
ALTER TABLE [dbo].[SitesMaster] ADD  CONSTRAINT [DF_SitesMaster_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SitesMaster] ADD  CONSTRAINT [DF_SitesMaster_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[SubCategoryMaster] ADD  CONSTRAINT [DF_SubCategoryMaster_SubCategoryIdP]  DEFAULT (newid()) FOR [SubCategoryIDP]
GO
ALTER TABLE [dbo].[SubCategoryMaster] ADD  CONSTRAINT [DF_SubCategoryMaster_isActive]  DEFAULT ((1)) FOR [isActive]
GO
ALTER TABLE [dbo].[SubCategoryMaster] ADD  CONSTRAINT [DF_SubCategoryMaster_CreationDate]  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CityMaster]  WITH CHECK ADD  CONSTRAINT [FK_CityMaster_StateMaster] FOREIGN KEY([StateIDF])
REFERENCES [dbo].[StateMaster] ([StateIDP])
GO
ALTER TABLE [dbo].[CityMaster] CHECK CONSTRAINT [FK_CityMaster_StateMaster]
GO
ALTER TABLE [dbo].[StateMaster]  WITH CHECK ADD  CONSTRAINT [FK_StateMaster_CountryMaster] FOREIGN KEY([CountryIDF])
REFERENCES [dbo].[CountryMaster] ([CountryIDP])
GO
ALTER TABLE [dbo].[StateMaster] CHECK CONSTRAINT [FK_StateMaster_CountryMaster]
GO
/****** Object:  StoredProcedure [dbo].[AspNetUsers_CheckUserStatus]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Aditya Joshi
-- Create date: 02-02-2024
-- Description: Check User Status
-- =============================================
Create PROCEDURE [dbo].[AspNetUsers_CheckUserStatus]
    @Email nvarchar(250),
    @OUTVAL int output
AS
BEGIN
    SELECT @OUTVAL = CASE WHEN isActive = 1 THEN 1 ELSE 0 END
    FROM AspNetUsers 
    WHERE Email = @Email
END
GO
/****** Object:  StoredProcedure [dbo].[AspNetUsers_DeleteOrUpdateStatus]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Aditya Joshi
-- Create date: 31-01-2024
-- Description: Delete or Update records from AspNetUsers
-- =============================================

CREATE PROCEDURE [dbo].[AspNetUsers_DeleteOrUpdateStatus]
    @id Uniqueidentifier,
    @ActionType Bit
AS
BEGIN
    IF @ActionType = 1
    BEGIN
        -- Perform logical delete
        DELETE FROM AspNetUsers
        WHERE Id = @id;
    END
    ELSE
    BEGIN
        -- Update isActive status
        UPDATE AspNetUsers
        SET isActive = ~isActive
        WHERE Id = @id;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[AspNetUsers_GetAll]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Aditya Joshi
-- Create date: 02-02-2024
-- Description: Select All Users
-- =============================================
CREATE PROCEDURE [dbo].[AspNetUsers_GetAll]
    @UserId NVARCHAR(128),
    @CompanyIDF Uniqueidentifier  -- Add CompanyIDF parameter
AS
BEGIN
    BEGIN TRY
        -- Get the role of the logged-in user
        DECLARE @UserRole NVARCHAR(128)
        SELECT @UserRole = R.Name
        FROM AspNetUsers U
        INNER JOIN AspNetUserRoles UR ON U.Id = UR.UserId
        INNER JOIN AspNetRoles R ON UR.RoleId = R.Id
        WHERE U.Id = @UserId

        -- Query to retrieve users based on the user's role hierarchy and CompanyIDF
        SELECT U.Id,
               U.Email,
               U.isActive,
               FORMAT(U.CreationDate, 'dd-MM-yyyy') AS CreationDate,
               ISNULL(CurrentRole.Name, 'User') AS CurrentRole,
               FORMAT(U.UpdationDate, 'dd-MM-yyyy') AS UpdationDate,
               ISNULL(CM.CompanyName, 'Unknown') AS CompanyName,
               ISNULL(SM.SiteName, 'Unknown') AS SiteName
        FROM AspNetUsers U
        LEFT JOIN AspNetUserRoles UR ON U.CreatedBy = UR.UserId
        LEFT JOIN AspNetRoles CreatedByRole ON UR.RoleId = CreatedByRole.Id
        LEFT JOIN AspNetUserRoles UR2 ON U.Id = UR2.UserId
        LEFT JOIN AspNetRoles CurrentRole ON UR2.RoleId = CurrentRole.Id
        LEFT JOIN CompanyMaster CM ON U.CompanyIDF = CM.CompanyIDP
        LEFT JOIN SitesMaster SM ON U.SiteIDF = SM.SiteIDP
        WHERE
            (
                @UserRole = 'Admin' -- Admin can see all roles
                OR (@UserRole = 'CEO' AND CurrentRole.Name IN ('CEO', 'GM-Site Wise', 'Operator', 'Chef', 'Waiter', 'User'))
                OR (@UserRole = 'GM-Site Wise' AND CurrentRole.Name IN ('GM-Site Wise', 'Operator', 'Chef', 'Waiter', 'User'))
                OR (@UserRole = 'Operator' AND CurrentRole.Name IN ('Operator', 'Chef', 'Waiter', 'User'))
                OR CurrentRole.Name IN ('Chef', 'Waiter', 'User') -- All users can see Chef, Waiter, and User roles
            )
            AND ((U.CompanyIDF = @CompanyIDF) OR @UserRole = 'Admin') -- Filter by CompanyIDF
        ORDER BY U.CreationDate DESC, U.UpdationDate DESC
        FOR JSON PATH
    END TRY
    BEGIN CATCH
        -- Log the error using the InsertErrorLog stored procedure
        DECLARE @ErrorMessage NVARCHAR(MAX);
        SET @ErrorMessage = ERROR_MESSAGE();

        EXEC InsertProcErrorLog 'AspNetUsers_GetAll', @ErrorMessage;

        -- Optionally, raise an error or return a custom error message
        THROW;
    END CATCH;
END

GO
/****** Object:  StoredProcedure [dbo].[AspNetUsers_GetByID]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Aditya Joshi
-- Create date: 01-02-2024
-- Description: Select User By ID
-- =============================================
CREATE PROCEDURE [dbo].[AspNetUsers_GetByID]
    @UserIDP Uniqueidentifier
AS
BEGIN
    SELECT u.Id,
           u.FirstName,
           u.LastName,
           u.Email,
           --u.RoleId,
           u.PasswordHash,
           u.PhoneNumber,
           r.Name AS CurrentRole -- Assuming there's a Name column in your AspNetRoles table
    FROM AspNetUsers u
    INNER JOIN AspNetUserRoles ur ON u.Id = ur.UserId
    INNER JOIN AspNetRoles r ON ur.RoleId = r.Id
    WHERE u.Id = @UserIDP
    FOR JSON PATH
END
GO
/****** Object:  StoredProcedure [dbo].[AspNetUsers_GetCompanyandSiteID]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Aditya Joshi
-- Create date: 05-02-2024
-- Description: Get CompanyID and SiteID
-- =============================================
CREATE PROCEDURE [dbo].[AspNetUsers_GetCompanyandSiteID]
    @Email nvarchar(50)
AS
BEGIN
   Select ISNULL(CompanyIDF, '00000000-0000-0000-0000-000000000000') AS CompanyIDF,
          ISNULL(SiteIDf, '00000000-0000-0000-0000-000000000000') AS SiteIDf
   from AspNetUsers
   Where Email = @Email
END

GO
/****** Object:  StoredProcedure [dbo].[AspNetUsers_Update]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Aditya Joshi
-- Create date: 30-01-2024
-- Description: Update FirstName and LastName in AspNetUsers table
-- =============================================

CREATE PROCEDURE [dbo].[AspNetUsers_Update]
    @Id nvarchar(128),
    @CompanyIDF uniqueidentifier,
    @SiteIDF uniqueidentifier,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(50)=null,
    @Phone NVARCHAR(50)=null,
	@CreatedBy uniqueidentifier,
	@UpdatedBy uniqueidentifier,
    @OUTVAL INT OUTPUT,
    @OUTMESSAGE VARCHAR(50) OUTPUT
AS
BEGIN
    DECLARE @RowCount INT;

	IF (SELECT COUNT(*) FROM AspNetUsers WHERE Id = @Id AND CreatedBy IS NULL)>0
    BEGIN
    UPDATE AspNetUsers
    SET FirstName = @FirstName,
        LastName = @LastName,
		CreatedBy = @CreatedBy,
		CompanyIDF = @CompanyIDF,
		SiteIDF = @SiteIDF

    WHERE Id = @Id;
	End
	Else
	Begin
		UPDATE AspNetUsers
		SET FirstName = @FirstName,
        LastName = @LastName,
		UpdationDate = getdate(),
		UpdatedBy = @UpdatedBy,
		UserName = CASE WHEN @Email IS NOT NULL THEN @Email ELSE UserName END,
		Email = CASE WHEN @Email IS NOT NULL THEN @Email ELSE Email END,
		PhoneNumber = @Phone,
		CompanyIDF = @CompanyIDF,
		SiteIDF = @SiteIDF

    WHERE Id = @Id;
	End

    SET @RowCount = @@ROWCOUNT;

    IF @RowCount > 0
    BEGIN
        SET @OUTVAL = 1;
        SET @OUTMESSAGE = 'Update successful.';
    END
    ELSE
    BEGIN
        SET @OUTVAL = 0;
        SET @OUTMESSAGE = 'User not found or no changes made.';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[CategoryMaster_DeleteOrUpdateStatus]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Banshi Vagadiya
-- Create date: 30-01-2024
-- Description: Delete or Update records from CategoryMaster
-- =============================================

CREATE PROCEDURE [dbo].[CategoryMaster_DeleteOrUpdateStatus]
    @CategoryIDP Uniqueidentifier,
    @ActionType Bit,
	@OUTVAL VARCHAR(50) OUTPUT
AS
BEGIN
    IF @ActionType = 1
    BEGIN
        -- Perform logical delete
        DELETE FROM CategoryMaster
        WHERE CategoryIDP = @CategoryIDP;
		SET @OUTVAL = 'Record deleted Successfully.'
    END
    ELSE
    BEGIN
        -- Update isActive status
        UPDATE CategoryMaster
        SET isActive = ~isActive
        WHERE CategoryIDP = @CategoryIDP;
		SET @OUTVAL = 'Status changed Successfully.'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[CategoryMaster_DropDown]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:    <Banshi Vagadiya>
-- Create date: <02-02-2024>
-- Description:    <DropDown from CategoryMaster>
-- =============================================

CREATE PROCEDURE [dbo].[CategoryMaster_DropDown]
AS
BEGIN
    
    SELECT CategoryIDP, CategoryName
    FROM CategoryMaster
    WHERE IsActive = 1; 
END;
GO
/****** Object:  StoredProcedure [dbo].[CategoryMaster_GetAll]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:    <Banshi Vagadiya>
-- Create date: <30-01-2024>
-- Description:    <Select all from CategoryMaster>
-- =============================================


CREATE PROCEDURE [dbo].[CategoryMaster_GetAll]
AS
BEGIN
    SELECT CategoryIDP,
           CategoryName,
		   CategoryImagePath,
           isActive,
           FORMAT(CreationDate, 'dd-MM-yyyy') AS CreationDate,
           CreatedBy,
           UpdationDate,
           UpdatedBy
    FROM CategoryMaster
	Order By CreationDate,CategoryName
    FOR JSON PATH
	
END

GO
/****** Object:  StoredProcedure [dbo].[CategoryMaster_GetByID]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:    <Banshi Vagadiya>
-- Create date: <30-01-2024>
-- Description:    <Select all from CategoryMaster>
-- =============================================

CREATE PROCEDURE [dbo].[CategoryMaster_GetByID]
    @CategoryIDP Uniqueidentifier
AS
BEGIN
    BEGIN TRY
        SELECT CategoryIDP,
               CategoryName,
               isActive,
               CreationDate,
               CreatedBy,
               UpdationDate,
               UpdatedBy
        FROM CategoryMaster
        WHERE CategoryIDP = @CategoryIDP
        FOR JSON PATH;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX);
        SET @ErrorMessage = ERROR_MESSAGE();

        EXEC InsertProcErrorLog 'CategoryMaster_GetByID', @ErrorMessage;

    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[CategoryMaster_Insert_Update]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Banshi Vagadiya
-- Create date: 30-01-2024
-- Description: Insert and Update Records Into CategoryMaster
-- =============================================
CREATE PROCEDURE [dbo].[CategoryMaster_Insert_Update]
    @CategoryIDP Uniqueidentifier,
	@CompanyIDF uniqueidentifier,
	@SiteIDF uniqueidentifier,
    @CategoryName NVarchar(100),
	@CategoryImagePath Nvarchar(max),
	@OUTVAL Int OUTPUT,
    @OUTMESSAGE Varchar(50) OUTPUT,
    @UpdationDate DateTime = NULL,
    @UpdatedBy Uniqueidentifier = NULL,
	@CreatedBy Uniqueidentifier
AS
BEGIN
    IF (@CategoryIDP = '00000000-0000-0000-0000-000000000000')
    BEGIN
        INSERT INTO CategoryMaster
                (
                  CategoryName,
				  CompanyIDF,
				  SiteIDF,
				  CategoryImagePath,
                  CreatedBy
				 )
        VALUES (
                 @CategoryName,
				 @CompanyIDF,
				 @SiteIDF,
				 @CategoryImagePath,
				 @CreatedBy
				 )

        SET @OUTVAL = 1
        SET @OUTMESSAGE = 'Record Saved Successfully.'
    END
    ELSE
    BEGIN
        UPDATE CategoryMaster
        SET CategoryName = @CategoryName,
			CategoryImagePath = @CategoryImagePath,
            UpdationDate = GETDATE(),
            UpdatedBy = @UpdatedBy
        WHERE CategoryIDP = @CategoryIDP

        SET @OUTVAL = 1
        SET @OUTMESSAGE = 'Record Updated Successfully.'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[CityMaster_GetByStateID]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Prashant Chauhan
-- Create date: 02-02-24
-- Description: Retrieve cities by StateID from CityMaster
-- =============================================
CREATE PROCEDURE [dbo].[CityMaster_GetByStateID]
    @StateIDF int
AS
BEGIN
    SELECT CityIDP, CityName
    FROM CityMaster
    WHERE StateIDF = @StateIDF
	FOR JSON PATH
END
GO
/****** Object:  StoredProcedure [dbo].[CompanyMaster_CheckCompanyExistenceByGSTINNumber]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Prashant Chauhan
-- Create date: 06-02-24
-- Description: Stored Procedure to check if the company name exists by GSTINNumber
-- =============================================
CREATE PROCEDURE [dbo].[CompanyMaster_CheckCompanyExistenceByGSTINNumber]
@GSTINNumber VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT COUNT(*) As GSTINNumberCount
        FROM CompanyMaster 
        WHERE GSTINNumber = @GSTINNumber
        FOR JSON PATH;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX);
        SET @ErrorMessage = ERROR_MESSAGE();

        -- Log error directly for this procedure
        EXEC InsertProcErrorLog 'CompanyMaster_CheckCompanyExistenceByGSTINNumber', @ErrorMessage;

        -- You can customize the error message based on your requirement
        SELECT 'Error occurred. Please check the logs.' AS ErrorMessage;
    END CATCH
END





GO
/****** Object:  StoredProcedure [dbo].[CompanyMaster_CheckEmailExistence]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Prashant Chauhan
-- Create date: 06-02-24
-- Description: Stored Procedure to check if the email exists
-- =============================================
CREATE PROCEDURE [dbo].[CompanyMaster_CheckEmailExistence]
    @Email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT COUNT(*) as EmailCount
        FROM CompanyMaster 
        WHERE ContactEmail = @Email
        FOR JSON PATH;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX);
        SET @ErrorMessage = ERROR_MESSAGE();

        -- Log error directly for this procedure
        EXEC InsertProcErrorLog 'CompanyMaster_CheckEmailExistence', @ErrorMessage;
        SELECT 'Error occurred. Please check the logs.' AS ErrorMessage;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CompanyMaster_DeleteOrUpdateStatus]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Prashant Chauhan
-- Create date: 01-02-2024
-- Description: Delete or Update Status in CompanyMaster
-- =============================================
CREATE PROCEDURE [dbo].[CompanyMaster_DeleteOrUpdateStatus]
    @CompanyIDP Uniqueidentifier,
    @ActionType Bit,
	@OUTVAL VARCHAR(50) OUTPUT
AS
BEGIN
    BEGIN TRY
        IF @ActionType = 1
        BEGIN
            -- Perform logical delete
            DELETE FROM CompanyMaster
            WHERE CompanyIDP = @CompanyIDP;

            SET @OUTVAL = 'Record deleted successfully.';

            DELETE FROM AspNetUsers WHERE CompanyIDF = @CompanyIDP;
        END
        ELSE
        BEGIN
            -- Update isActive status
            UPDATE CompanyMaster
            SET IsActive = ~IsActive
            WHERE CompanyIDP = @CompanyIDP;

            SET @OUTVAL = 'Status changed successfully.';
        END
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX);
        SET @ErrorMessage = ERROR_MESSAGE();

        -- Log error directly for this procedure
        EXEC InsertProcErrorLog 'CompanyMaster_DeleteOrUpdateStatus', @ErrorMessage;

        SET @OUTVAL = 'Error occurred. Please check the logs.';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CompanyMaster_GetAll]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Prashant Chauhan
-- Create date: 02-02-24
-- Description: Retrieve all companies from CompanyMaster with additional information
-- =============================================
CREATE PROCEDURE [dbo].[CompanyMaster_GetAll]
    @UserID UNIQUEIDENTIFIER,
    @CompanyIDF UNIQUEIDENTIFIER
AS
BEGIN
    BEGIN TRY
        SELECT
            cm.CompanyIDP,
            cm.CompanyTypeIdF,
            ct.CompanyType,
            cm.CountryIDF,
            co.CountryName,
            cm.StateIDF,
            st.StateName,
            cm.CityIDF,
            ci.CityName,
            cm.CompanyName,
            cm.CompanyLogoPath,
            cm.HQ_Pincode,
            cm.HQ_Address,
            cm.ContactEmail,
            cm.GSTINNumber,
            cm.ContactNumber,
            FORMAT(cm.RegistrationDate, 'dd-MM-yyyy') AS RegistrationDate,
            cm.Password,
            cm.CEOName,
            cm.isActive,
            FORMAT(cm.CreationDate, 'dd-MM-yyyy') AS CreatedDate,
            cm.CreatedBy,
            cm.UpdationDate,
            cm.UpdatedBy
        FROM CompanyMaster cm
        LEFT JOIN CompanyTypeMaster ct ON cm.CompanyTypeIdF = ct.CompanyTypeIDP
        LEFT JOIN CountryMaster co ON cm.CountryIDF = co.CountryIDP
        LEFT JOIN StateMaster st ON cm.StateIDF = st.StateIDP
        LEFT JOIN CityMaster ci ON cm.CityIDF = ci.CityIDP
        INNER JOIN AspNetUserRoles aur ON aur.UserId = @UserID
        INNER JOIN AspNetRoles ar ON ar.Id = aur.RoleId
        WHERE cm.CompanyIDP = @CompanyIDF
            Or ar.Name = 'Admin'
        ORDER BY CreatedDate DESC
        FOR JSON PATH;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX);
        SET @ErrorMessage = ERROR_MESSAGE();

        -- Log error directly for this procedure
        EXEC InsertProcErrorLog 'CompanyMaster_GetAll', @ErrorMessage;

        -- You can customize the error message based on your requirement
        SELECT 'Error occurred. Please check the logs.' AS ErrorMessage;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CompanyMaster_GetByID]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Prashant Chauhan
-- Create date: 02-02-24
-- Description: Retrieve a company by CompanyID from CompanyMaster with additional information
-- =============================================
CREATE PROCEDURE [dbo].[CompanyMaster_GetByID]
    @CompanyIDP uniqueidentifier
AS
BEGIN
    BEGIN TRY
        SELECT
            cm.CompanyIDP,
            cm.CompanyTypeIdF,
            ct.CompanyType,
            cm.CountryIDF,
            co.CountryName,
            cm.StateIDF,
            st.StateName,
            cm.CityIDF,
            ci.CityName,
            cm.CompanyName,
            cm.CompanyLogoPath,
            cm.HQ_Pincode,
			cm.GSTINNumber,
            cm.HQ_Address,
            cm.ContactEmail,
            cm.ContactNumber,
            FORMAT(cm.RegistrationDate, 'dd-MM-yyyy') AS RegistrationDate,
            cm.Password,
            cm.CEOName,
            cm.isActive,
            FORMAT(cm.CreationDate, 'dd-MM-yyyy') AS CreatedDate,
            cm.CreatedBy,
            cm.UpdationDate,
            cm.UpdatedBy
        FROM CompanyMaster cm
        LEFT JOIN CompanyTypeMaster ct ON cm.CompanyTypeIdF = ct.CompanyTypeIDP
        LEFT JOIN CountryMaster co ON cm.CountryIDF = co.CountryIDP
        LEFT JOIN StateMaster st ON cm.StateIDF = st.StateIDP
        LEFT JOIN CityMaster ci ON cm.CityIDF = ci.CityIDP
        WHERE cm.CompanyIDP = @CompanyIDP
        FOR JSON PATH;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX);
        SET @ErrorMessage = ERROR_MESSAGE();

        -- Log error directly for this procedure
        EXEC InsertProcErrorLog 'CompanyMaster_GetByID', @ErrorMessage;

        -- You can customize the error message based on your requirement
        SELECT 'Error occurred. Please check the logs.' AS ErrorMessage;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[CompanyMaster_Insert_Update]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Prashant Chauhan
-- Create date: 02-02-24
-- Description: Insert and Update Records Into CompanyMaster
-- =============================================
-- Stored Procedure: [dbo].[CompanyMaster_Insert_Update]
CREATE PROCEDURE [dbo].[CompanyMaster_Insert_Update]
    @CompanyIDP uniqueidentifier,
    @CompanyTypeIdF uniqueidentifier,
    @CountryIDF int,
    @StateIDF int,
    @CityIDF int,
    @CompanyName NVARCHAR(250),
    @CompanyLogoPath NVARCHAR(MAX),
    @HQPincode NVARCHAR(10),
    @HQAddress NVARCHAR(500),
    @ContactEmail NVARCHAR(100),
    @ContactNumber NVARCHAR(20),
	@RegistrationDate datetime,
    @Password NVARCHAR(100),
    @CEOName NVARCHAR(100),
    @CreatedBy uniqueidentifier,
    @OUTVAL uniqueidentifier OUTPUT,
    @OUTMESSAGE Varchar(50) OUTPUT,
    @UpdationDate DateTime = NULL,
    @UpdatedBy uniqueidentifier = NULL,
	@GSTINNumber VARCHAR(15)
AS
BEGIN
    BEGIN TRY
        IF (@CompanyIDP = '00000000-0000-0000-0000-000000000000')
        BEGIN
            DECLARE @NewCompanyID UNIQUEIDENTIFIER = NEWID()

            INSERT INTO CompanyMaster
            (
               CompanyIDP,
               CompanyTypeIdF,
               CountryIDF,
               StateIDF,
               CityIDF,
               CompanyName,
               CompanyLogoPath,
               HQ_Pincode,
               HQ_Address,
               ContactEmail,
               ContactNumber,
               RegistrationDate,
               Password,
               CEOName,
               CreatedBy,
               GSTINNumber
            )
            VALUES
            (
               @NewCompanyID,
               @CompanyTypeIdF,
               @CountryIDF,
               @StateIDF,
               @CityIDF,
               @CompanyName,
               @CompanyLogoPath,
               @HQPincode,
               @HQAddress,
               @ContactEmail,
               @ContactNumber,
               @RegistrationDate,
               @Password,
               @CEOName,
               @CreatedBy,
               @GSTINNumber
            );
			
            SET @OUTVAL = @NewCompanyID;
            --SET @OUTMESSAGE = 'Record Saved Successfully.';

			DECLARE @SiteInsertUpdateOUTVAL UNIQUEIDENTIFIER;  
			-- Insert "Head Office" site
			EXEC [dbo].[SitesMaster_Insert_Update]
			'00000000-0000-0000-0000-000000000000',
                @NewCompanyID,
                @CountryIDF,
                @StateIDF,
                @CityIDF,
                'Head Office', -- SiteName
                @HQPincode,
                @HQAddress,
                @ContactEmail,
                @CreatedBy,
				@SiteInsertUpdateOUTVAL OUTPUT,
                @OUTMESSAGE OUTPUT;

				SET @OUTMESSAGE = @SiteInsertUpdateOUTVAL;
        END
        ELSE
        BEGIN
            UPDATE CompanyMaster
            SET
                CompanyTypeIdF = @CompanyTypeIdF,
                CountryIDF = @CountryIDF,
                StateIDF = @StateIDF,
                CityIDF = @CityIDF,
                CompanyName = @CompanyName,
                CompanyLogoPath = @CompanyLogoPath,
                HQ_Pincode = @HQPincode,
                HQ_Address = @HQAddress,
                ContactEmail = @ContactEmail,
                ContactNumber = @ContactNumber,
                -- Password = @Password,
                CEOName = @CEOName,
                RegistrationDate = @RegistrationDate,
                UpdationDate = GETDATE(),
                UpdatedBy = @UpdatedBy
            WHERE CompanyIDP = @CompanyIDP;

            SET @OUTVAL = @CompanyIDP;
            --SET @OUTMESSAGE = 'Record Updated Successfully.';

			-- Retrieve SiteID of the "Head Office"
            DECLARE @HeadOfficeSiteID UNIQUEIDENTIFIER
            SELECT @HeadOfficeSiteID = SiteIDP
            FROM SitesMaster
            WHERE CompanyIDF = @CompanyIDP
              AND SiteName = 'Head Office';

            -- Call SitesMaster_Insert_Update to update "Head Office" site
          DECLARE @SiteUpdateOUTVAL UNIQUEIDENTIFIER;  -- Declare variable to store the output value of SitesMaster_Insert_Update

		-- Call SitesMaster_Insert_Update to update "Head Office" site
				EXEC [dbo].[SitesMaster_Insert_Update]
					@HeadOfficeSiteID,
					@CompanyIDP,
					@CountryIDF,
					@StateIDF,
					@CityIDF,
					'Head Office', -- SiteName
					@HQPincode,
					@HQAddress,
					@ContactEmail,
					@UpdatedBy, -- Use UpdatedBy instead of CreatedBy for updating
					@SiteUpdateOUTVAL OUTPUT,  -- Output parameter to store the SiteID
					@OUTMESSAGE OUTPUT;  -- Output parameter to store the message

		-- Set the output value of SitesMaster_Insert_Update as the output message
		SET @OUTMESSAGE = @SiteUpdateOUTVAL;



        END
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX);
        SET @ErrorMessage = ERROR_MESSAGE();

        -- Log error directly for this procedure
        EXEC InsertProcErrorLog 'CompanyMaster_Insert_Update', @ErrorMessage;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[CompanyTypeMaster_DeleteOrUpdateStatus]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Prashant Chauhan
-- Create date: 30-01-2024
-- Description: Delete or Update records from CompanyTypeMaster
-- =============================================

CREATE PROCEDURE [dbo].[CompanyTypeMaster_DeleteOrUpdateStatus]
    @CompanyTypeIDP Uniqueidentifier,
    @ActionType Bit,
	@OUTVAL VARCHAR(50) OUTPUT
AS
BEGIN
    IF @ActionType = 1
    BEGIN
        -- Perform logical delete
        DELETE FROM CompanyTypeMaster
        WHERE CompanyTypeIDP = @CompanyTypeIDP;
		SET @OUTVAL = 'Record deleted Successfully.'
    END
    ELSE
    BEGIN
        -- Update isActive status
        UPDATE CompanyTypeMaster
        SET isActive = ~isActive
        WHERE CompanyTypeIDP = @CompanyTypeIDP;
		SET @OUTVAL = 'Status changed Successfully.'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[CompanyTypeMaster_DropDown]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Prashant Chauhan
-- Create date: 02-02-24
-- Description: Fetch CategoryTypeMaster records for dropdown
-- =============================================
CREATE PROCEDURE [dbo].[CompanyTypeMaster_DropDown]
AS
BEGIN
    SELECT CompanyTypeIdP, 
		   CompanyType
    FROM CompanyTypeMaster
	WHERE isActive = 1
    ORDER BY CompanyType;
END
GO
/****** Object:  StoredProcedure [dbo].[CompanyTypeMaster_GetAll]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:    <Prashant Chauhan>
-- Create date: <30-01-2024>
-- Description:    <Select all from CompanyTypeMaster>
-- =============================================
CREATE PROCEDURE [dbo].[CompanyTypeMaster_GetAll]
AS
BEGIN
    SELECT CompanyTypeIDP,
           CompanyType,
           isActive,
           FORMAT(CreationDate, 'dd-MM-yyyy') AS CreationDate,
           CreatedBy,
           UpdationDate,
           UpdatedBy
    FROM CompanyTypeMaster
	ORDER BY CreationDate DESC
    FOR JSON PATH
END

GO
/****** Object:  StoredProcedure [dbo].[CompanyTypeMaster_GetByID]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Prashant Chauhan
-- Create date: 30-01-2024
-- Description: Select CompanyTypeMaster By ID
-- =============================================
CREATE PROCEDURE [dbo].[CompanyTypeMaster_GetByID]
    @CompanyTypeIDP Uniqueidentifier
AS
BEGIN
    SELECT CompanyTypeIDP,
           CompanyType,
           isActive,
           CreationDate,
           CreatedBy,
           UpdationDate,
           UpdatedBy
    FROM CompanyTypeMaster
    WHERE CompanyTypeIDP = @CompanyTypeIDP
	FOR JSON PATH
END
GO
/****** Object:  StoredProcedure [dbo].[CompanyTypeMaster_Insert_Update]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Prashant Chauhan
-- Create date: 30-01-2024
-- Description: Insert and Update Records Into CompanyTypeMaster
-- =============================================
CREATE PROCEDURE [dbo].[CompanyTypeMaster_Insert_Update]
    @CompanyTypeIDP Uniqueidentifier,
    @CompanyType NVarchar(100),
    @OUTVAL Int OUTPUT,
    @OUTMESSAGE Varchar(50) OUTPUT,
    @UpdationDate DateTime = NULL,
    @UpdatedBy Uniqueidentifier = NULL,
	@CreatedBy Uniqueidentifier
AS
BEGIN
    IF (@CompanyTypeIDP = '00000000-0000-0000-0000-000000000000')
    BEGIN
        INSERT INTO CompanyTypeMaster
                (
                  CompanyType,
                  CreatedBy
				 )
        VALUES (
                 @CompanyType,
				 @CreatedBy
				 )

        SET @OUTVAL = 1
        SET @OUTMESSAGE = 'Record Saved Successfully.'
    END
    ELSE
    BEGIN
        UPDATE CompanyTypeMaster
        SET CompanyType = @CompanyType,
            UpdationDate = GETDATE(),
            UpdatedBy = @UpdatedBy
        WHERE CompanyTypeIDP = @CompanyTypeIDP

        SET @OUTVAL = 1
        SET @OUTMESSAGE = 'Record Updated Successfully.'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[CountryMaster_GetAll]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Prashant Chauhan
-- Create date: 02-02-24
-- Description: Retrieve all countries from CountryMaster
-- =============================================
CREATE PROCEDURE [dbo].[CountryMaster_GetAll]
AS
BEGIN
    SELECT CountryIDP, 
		   CountryName, 
		   CountryCode
    FROM CountryMaster
END
GO
/****** Object:  StoredProcedure [dbo].[FeedbackQuestionsMaster_DeleteOrUpdateStatus]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FeedbackQuestionsMaster_DeleteOrUpdateStatus]
    @QuestionIDP UNIQUEIDENTIFIER,
    @ActionType BIT,
    @OUTVAL VARCHAR(50) OUTPUT
AS
BEGIN
    BEGIN TRY
        IF @ActionType = 1
        BEGIN
            -- Perform logical delete
            DELETE FROM FeedbackQuestionsMaster WHERE QuestionIDP = @QuestionIDP;
            DELETE FROM FeedbackQuestionsMaster WHERE QuestionIDP = @QuestionIDP;

            SET @OUTVAL = 'Record deleted successfully.';
        END
        ELSE
        BEGIN
            -- Update isActive status
            UPDATE FeedbackQuestionsMaster
            SET IsActive = ~IsActive
            WHERE QuestionIDP = @QuestionIDP;

            SET @OUTVAL = 'Status changed successfully.';
        END
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX);
        SET @ErrorMessage = ERROR_MESSAGE();

        -- Log error directly for this procedure
        EXEC InsertProcErrorLog 'FeedbackQuestionsMaster_DeleteOrUpdateStatus', @ErrorMessage;

        SET @OUTVAL = 'Error occurred. Please check the logs.';
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FeedbackQuestionsMaster_GetAll]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Banshi vagadiya
-- Create date: 06-02-24
-- Description: Retrieve all question from FeedbackQuestionsMaster
-- =============================================
CREATE PROCEDURE [dbo].[FeedbackQuestionsMaster_GetAll]
AS
BEGIN
    BEGIN TRY
        SELECT
			fq.QuestionIDP,
			fq.CompanyIDF,
			fq.QuestionText,
            fq.isActive,
            FORMAT(fq.CreationDate, 'dd-MM-yyyy') AS CreatedDate,
            fq.CreatedBy,
            fq.UpdationDate,
            fq.UpdatedBy
        FROM FeedbackQuestionsMaster fq
        LEFT JOIN CompanyMaster cm ON fq.CompanyIdF = cm.CompanyIDP
        ORDER BY CreatedDate DESC
        FOR JSON PATH;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX);
        SET @ErrorMessage = ERROR_MESSAGE();

        -- Log error directly for this procedure
        EXEC InsertProcErrorLog 'FeedbackQuestionsMaster_GetAll', @ErrorMessage;

        -- You can customize the error message based on your requirement
        SELECT 'Error occurred. Please check the logs.' AS ErrorMessage;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FeedbackQuestionsMaster_GetByID]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Banshi Vagadiya
-- Create date: 06-02-24
-- Description: Retrieve a questions by QuestionIDP from FeedbackQuestionsMaster with additional information
-- =============================================
Create PROCEDURE [dbo].[FeedbackQuestionsMaster_GetByID]
    @QuestionIDP uniqueidentifier
AS
BEGIN
    BEGIN TRY
        SELECT
            fq.QuestionIDP,
			fq.CompanyIDF,
			fq.QuestionText,
            fq.isActive,
            FORMAT(fq.CreationDate, 'dd-MM-yyyy') AS CreatedDate,
            fq.CreatedBy,
            fq.UpdationDate,
            fq.UpdatedBy
        FROM FeedbackQuestionsMaster fq
        LEFT JOIN CompanyMaster cm ON fq.CompanyIdF = cm.CompanyIDP
        
        WHERE fq.QuestionIDP = @QuestionIDP
        FOR JSON PATH;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX);
        SET @ErrorMessage = ERROR_MESSAGE();

        -- Log error directly for this procedure
        EXEC InsertProcErrorLog 'FeedbackQuestionsMaster_GetByID', @ErrorMessage;

        -- You can customize the error message based on your requirement
        SELECT 'Error occurred. Please check the logs.' AS ErrorMessage;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[FeedbackQuestionsMaster_Insert_Update]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Banshi Vagadiya
-- Create date: 06-02-2024
-- Description: Insert and Update Records Into FeedbackQuestionsMaster
-- =============================================
Create PROCEDURE [dbo].[FeedbackQuestionsMaster_Insert_Update]
    @QuestionIDP Uniqueidentifier,
	@CompanyIDF Uniqueidentifier,
    @QuestionText NVarchar(max),
    @OUTVAL Int OUTPUT,
    @OUTMESSAGE Varchar(50) OUTPUT,
    @UpdationDate DateTime = NULL,
    @UpdatedBy Uniqueidentifier = NULL,
	@CreatedBy Uniqueidentifier
AS
BEGIN
    IF (@QuestionIDP = '00000000-0000-0000-0000-000000000000')
    BEGIN
        INSERT INTO FeedbackQuestionsMaster
                (
                   CompanyIDF,
				   QuestionText,
				   CreatedBy
				 )
        VALUES (
                 @CompanyIDF,
				 @QuestionText,
				 @CreatedBy
				 )

        SET @OUTVAL = 1
        SET @OUTMESSAGE = 'Record Saved Successfully.'
    END
    ELSE
    BEGIN
        UPDATE FeedbackQuestionsMaster
        SET CompanyIDF = @CompanyIDF,
			QuestionText = @QuestionText,
            UpdationDate = GETDATE(),
            UpdatedBy = @UpdatedBy
        WHERE QuestionIDP = @QuestionIDP

        SET @OUTVAL = 1
        SET @OUTMESSAGE = 'Record Updated Successfully.'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[InsertErrorLog]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================  
-- Author: Aditya Joshi  
-- Create date: 03-02-2024  
-- Description: [InsertErrorLog] 
-- =============================================  

CREATE PROCEDURE [dbo].[InsertErrorLog]
    @ErrorMsg NVARCHAR(MAX),
    @StackTrace NVARCHAR(MAX),
	@UserID uniqueidentifier,
	@CompanyIDF uniqueidentifier = null,
	@SiteIDF uniqueidentifier = null,
    @OutVal NVARCHAR(10) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
       INSERT INTO ErrorLogs (ErrorMsg, StackTrace, UserID, CompanyIDF, SiteIDF)
	   VALUES (@ErrorMsg, @StackTrace, @UserID, @CompanyIDF, @SiteIDF);

        
        SET @OutVal = 'Success'; -- Return 'Success' as string if the operation is successful
    END TRY
    BEGIN CATCH
        SET @OutVal = 'Failure'; -- Return 'Failure' as string if an error occurs
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertProcErrorLog]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertProcErrorLog]
    @ProcedureName NVARCHAR(255),
    @ErrorMessage NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
        INSERT INTO ProcErrorLog (ProcedureName, ErrorMessage)
        VALUES (@ProcedureName, @ErrorMessage);
END;
GO
/****** Object:  StoredProcedure [dbo].[SitesMaster_DeleteOrUpdateStatus]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Aditya Joshi
-- Create date: 05-02-24
-- Description: Delete or Update Status in CompanyMaster
-- =============================================
CREATE PROCEDURE [dbo].[SitesMaster_DeleteOrUpdateStatus]
    @SiteIDP UNIQUEIDENTIFIER,
    @ActionType BIT,
    @OUTVAL VARCHAR(50) OUTPUT
AS
BEGIN
    IF @ActionType = 1
    BEGIN
        -- Perform logical delete
        DELETE FROM SitesMaster
        WHERE SiteIDP = @SiteIDP;
		SET @OUTVAL = 'Record deleted successfully.';
    END
    ELSE
    BEGIN
        -- Update isActive status
        UPDATE SitesMaster
        SET isActive = ~isActive -- Toggles the isActive status
        WHERE SiteIDP = @SiteIDP;
		SET @OUTVAL = 'Status changed successfully.';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SitesMaster_GetAll]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Aditya Joshi
-- Create date: 03-02-2024
-- Description: Retrieve all sites from SitesMaster with additional information
-- =============================================
CREATE PROCEDURE [dbo].[SitesMaster_GetAll]
@CompanyIDF uniqueidentifier,
@UserID uniqueidentifier
AS
BEGIN
    SELECT
        sm.SiteIDP,
        sm.CompanyIDF,
        cm.CompanyName,
        sm.CountryIDF,
        co.CountryName,
        sm.StateIDF,
        st.StateName,
        sm.CityIDF,
        ci.CityName,
        sm.SitePinCode,
        sm.SiteName,
        sm.SiteAddress,
        sm.SiteContactEmail,
        sm.isActive,
        FORMAT(sm.CreationDate, 'dd-MM-yyyy') AS CreatedDate,
        sm.CreatedBy,
        sm.UpdationDate,
        sm.UpdatedBy
    FROM SitesMaster sm
    LEFT JOIN CompanyMaster cm ON sm.CompanyIdF = cm.CompanyIDP
    LEFT JOIN CountryMaster co ON sm.CountryIDF = co.CountryIDP
    LEFT JOIN StateMaster st ON sm.StateIDF = st.StateIDP
    LEFT JOIN CityMaster ci ON sm.CityIDF = ci.CityIDP
    WHERE 
        (@UserID IN (SELECT UserId FROM AspNetUserRoles WHERE RoleId = (SELECT Id FROM AspNetRoles WHERE Name = 'Admin'))) -- Check if user is admin
        OR
        (sm.CompanyIDF = @CompanyIDF) -- Retrieve records associated with CompanyId for non-admin users
    ORDER BY CreatedDate DESC
    FOR JSON PATH
END
GO
/****** Object:  StoredProcedure [dbo].[SitesMaster_GetAllDatatable]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Aditya Joshi
-- Create date: 06-02-2024
-- Description: Retrieve all sites from SitesMaster with additional information For Dropdown
-- =============================================
CREATE PROCEDURE [dbo].[SitesMaster_GetAllDatatable]
@CompanyIDF uniqueidentifier,
@UserID uniqueidentifier
AS
BEGIN
    SELECT
        sm.SiteIDP,
        sm.SiteName
    FROM SitesMaster sm
    LEFT JOIN CompanyMaster cm ON sm.CompanyIdF = cm.CompanyIDP
    LEFT JOIN CountryMaster co ON sm.CountryIDF = co.CountryIDP
    LEFT JOIN StateMaster st ON sm.StateIDF = st.StateIDP
    LEFT JOIN CityMaster ci ON sm.CityIDF = ci.CityIDP
    WHERE 
        (@UserID IN (SELECT UserId FROM AspNetUserRoles WHERE RoleId = (SELECT Id FROM AspNetRoles WHERE Name = 'Admin'))) -- Check if user is admin
        OR
        (sm.CompanyIDF = @CompanyIDF) -- Retrieve records associated with CompanyId for non-admin users
END
GO
/****** Object:  StoredProcedure [dbo].[SitesMaster_GetSiteByID]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Aditya Joshi
-- Create date: 05-02-24
-- Description: Retrieve a Site by SiteID from SitesMaster with additional information
-- =============================================
CREATE PROCEDURE [dbo].[SitesMaster_GetSiteByID]
    @SiteID UNIQUEIDENTIFIER -- Assuming the primary key of the Site table is SiteID of type INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        sm.SiteIDP,
        sm.CompanyIDF,
        cm.CompanyName,
        sm.CountryIDF,
        co.CountryName,
        sm.StateIDF,
        st.StateName,
        sm.CityIDF,
        ci.CityName,
        sm.SitePinCode,
        sm.SiteName,
        sm.SiteAddress,
        sm.SiteContactEmail,
        sm.isActive,
        FORMAT(sm.CreationDate, 'dd-MM-yyyy') AS CreatedDate,
        sm.CreatedBy,
        sm.UpdationDate,
        sm.UpdatedBy
    FROM 
        SitesMaster sm
    INNER JOIN 
        CompanyMaster cm ON sm.CompanyIDF = cm.CompanyIDP
    INNER JOIN 
        CountryMaster co ON sm.CountryIDF = co.CountryIDP
    INNER JOIN 
        StateMaster st ON sm.StateIDF = st.StateIDP
    INNER JOIN 
        CityMaster ci ON sm.CityIDF = ci.CityIDP
    WHERE 
        sm.SiteIDP = @SiteID
	FOR JSON PATH;
END
GO
/****** Object:  StoredProcedure [dbo].[SitesMaster_Insert_Update]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Aditya Joshi
-- Create date: 05-02-24
-- Description: Insert and Update Records Into SitesMaster
-- =============================================
CREATE PROCEDURE [dbo].[SitesMaster_Insert_Update]
    @SiteIDP uniqueidentifier,
    @CompanyIDF uniqueidentifier,
    @CountryIDF int,
    @StateIDF int,
    @CityIDF int,
    @SiteName NVARCHAR(250),
    @SitePinCode NVARCHAR(10),
    @SiteAddress NVARCHAR(500),
    @SiteContactEmail NVARCHAR(100),
    @CreatedBy uniqueidentifier,
    @OUTVAL uniqueidentifier OUTPUT,
    @OUTMESSAGE Varchar(50) OUTPUT,
    @UpdationDate DateTime = NULL,
    @UpdatedBy uniqueidentifier = NULL
AS
BEGIN
    IF (@SiteIDP = '00000000-0000-0000-0000-000000000000')
    BEGIN
		DECLARE @NewSiteID UNIQUEIDENTIFIER = NEWID()

        INSERT INTO SitesMaster
        (
			SiteIDP,
            CompanyIDF,
            CountryIDF,
            StateIDF,
            CityIDF,
            SiteName,
            SitePinCode,
            SiteAddress,
            SiteContactEmail,
            CreatedBy
        )
        VALUES
        (
			@NewSiteID,
            @CompanyIDF,
            @CountryIDF,
            @StateIDF,
            @CityIDF,
            @SiteName,
            @SitePinCode,
            @SiteAddress,
            @SiteContactEmail,
            @CreatedBy
        );

        SET @OUTVAL = @NewSiteID;
        SET @OUTMESSAGE = 'Record Saved Successfully.';

		UPDATE AspNetUsers
        SET SiteIDF = @NewSiteID
        WHERE Id = @CreatedBy;
    END
    ELSE
    BEGIN
        UPDATE SitesMaster
        SET
            CountryIDF = @CountryIDF,
            StateIDF = @StateIDF,
            CityIDF = @CityIDF,
            SiteName = @SiteName,
            SitePinCode = @SitePinCode,
            SiteAddress = @SiteAddress,
            SiteContactEmail = @SiteContactEmail,
            UpdationDate = GETDATE(),
            UpdatedBy = @UpdatedBy
        WHERE SiteIDP = @SiteIDP;

        SET @OUTVAL = @SiteIDP;
        SET @OUTMESSAGE = 'Record Updated Successfully.';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[StateMaster_GetByCountryID]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author: Prashant Chauhan
-- Create date: 02-02-24
-- Description: Retrieve states by CountryID from StateMaster
-- =============================================

CREATE PROCEDURE [dbo].[StateMaster_GetByCountryID]
    @CountryIDF int
AS
BEGIN
    SELECT StateIDP, StateName
    FROM StateMaster
    WHERE CountryIDF = @CountryIDF
	FOR JSON PATH
END
GO
/****** Object:  StoredProcedure [dbo].[SubCategoryMaster_DeleteOrUpdateStatus]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Banshi Vagadiya
-- Create date: 01-02-2024
-- Description: Delete or Update records from SubCategoryMaster
-- =============================================

CREATE PROCEDURE [dbo].[SubCategoryMaster_DeleteOrUpdateStatus]
    @SubCategoryIDP Uniqueidentifier,
    @ActionType Bit,
	@OUTVAL VARCHAR(50) OUTPUT
AS
BEGIN
    IF @ActionType = 1
    BEGIN
        -- Perform logical delete
        DELETE FROM SubCategoryMaster
        WHERE SubCategoryIDP = @SubCategoryIDP;
		SET @OUTVAL = 'Record deleted Successfully.'
    END
    ELSE
    BEGIN
        -- Update isActive status
        UPDATE SubCategoryMaster
        SET isActive = ~isActive
        WHERE SubCategoryIDP = @SubCategoryIDP;
		SET @OUTVAL = 'Status changed Successfully.'
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SubCategoryMaster_GetAll]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:    <Banshi Vagadiya>
-- Create date: <01-02-2024>
-- Description:    <Select all from SubCategoryMaster>
-- =============================================
CREATE PROCEDURE [dbo].[SubCategoryMaster_GetAll]
AS
BEGIN
    SELECT SubCategoryIDP,
		   CategoryIDF,
		   cm.CategoryName,
           SubCategoryName,
           sm.isActive,
		   SubCategoryImagePath,
           FORMAT(sm.CreationDate, 'dd-MM-yyyy') AS CreationDate,
           sm.CreatedBy,
           sm.UpdationDate,
           sm.UpdatedBy
    FROM SubCategoryMaster sm
	INNER JOIN CategoryMaster cm ON sm.CategoryIDF = cm.CategoryIDP
    WHERE cm.isActive = 1
	Order By sm.CreationDate,SubCategoryName
    FOR JSON PATH	
END


GO
/****** Object:  StoredProcedure [dbo].[SubCategoryMaster_GetByID]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Banshi Vagadiya
-- Create date: 01-02-2024
-- Description: Select SubCategoryMaster By ID
-- =============================================
Create PROCEDURE [dbo].[SubCategoryMaster_GetByID]
    @SubCategoryIDP Uniqueidentifier
AS
BEGIN
    SELECT SubCategoryIDP,
		   CategoryIDF,
           SubCategoryName,
           isActive,
           CreationDate,
           CreatedBy,
           UpdationDate,
           UpdatedBy
    FROM SubCategoryMaster
    WHERE SubCategoryIDP = @SubCategoryIDP
	For JSON Path
END
GO
/****** Object:  StoredProcedure [dbo].[SubCategoryMaster_Insert_Update]    Script Date: 07-02-2024 08:14:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author: Banshi Vagadiya
-- Create date: 01-02-2024
-- Description: Insert and Update Records Into SubCategoryMaster
-- =============================================

CREATE PROCEDURE [dbo].[SubCategoryMaster_Insert_Update]
    @SubCategoryIDP Uniqueidentifier,
	@CategoryIDF Uniqueidentifier,
	@CompanyIDF Uniqueidentifier,
	@SiteIDF Uniqueidentifier,
    @SubCategoryName NVarchar(100),
	@SubCategoryImagePath Nvarchar(max),
	@OUTVAL Int OUTPUT,
    @OUTMESSAGE Varchar(50) OUTPUT,
    @UpdationDate DateTime = NULL,
    @UpdatedBy Uniqueidentifier = NULL,
	@CreatedBy Uniqueidentifier
AS
BEGIN
    IF (@SubCategoryIDP = '00000000-0000-0000-0000-000000000000')
    BEGIN
        INSERT INTO SubCategoryMaster
                (
                  SubCategoryName,
				  CategoryIDF,
				  CompanyIDF,
				  SiteIDF,
				  SubCategoryImagePath,
                  CreatedBy
				 )
        VALUES (
                 @SubCategoryName,
				 @CategoryIDF,
				 @CompanyIDF,
				 @SiteIDF,
				 @SubCategoryImagePath,
				 @CreatedBy
				 )

        SET @OUTVAL = 1
        SET @OUTMESSAGE = 'Record Saved Successfully.'
    END
    ELSE
    BEGIN
        UPDATE SubCategoryMaster
        SET SubCategoryName = @SubCategoryName,
			CategoryIDF = @CategoryIDF,
			SubCategoryImagePath = @SubCategoryImagePath,
            UpdationDate = GETDATE(),
            UpdatedBy = @UpdatedBy
        WHERE SubCategoryIDP = @SubCategoryIDP

        SET @OUTVAL = 1
        SET @OUTMESSAGE = 'Record Updated Successfully.'
    END
END
GO
USE [master]
GO
