* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    font-family: 'Kanit', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

ul {
    list-style: none;
}

.header {
    background: url(./img/banner.png) no-repeat;
    background-size: cover;
    width: 100%;
    border: 1px solid;
}

.header__top-banner {
    background-color: #22b26b;
    height: 14vh;
    max-width: 100vw;
    opacity: 0.8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type=search]{
    width: 14vw;
    height: 40px;
    font-size: 16px;
    padding: 0px 20px 0px 40px;
    border-radius: 1%;
    outline: none;
    border: solid gray 2px;
    background: url('Search.png') 7px center no-repeat;
    }

.header__top-banner div {
    padding: 2rem;
    color: white;
}

.header__logo {
    font-size: 2rem;
    color: white !important;
}

.header__nav {
    background-color: rgba(34,43,60,255);
    height: 8vh;
}

.nav__list{
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav__item{
    padding-block: 1rem;
}

.header__content{
    margin-block: 5vh;
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
}

.header__contentleft{
     width: 30vw;
     height: 65vh;
    padding: 5vw;
    color: white;
}

.header__contentleft h1{
    font-size: 2rem;
    color: white;
    padding-left: 8px;
    border-left: 8px solid #24d177;
}
.header__contentleft h1,p,button{
    margin-top: 4vh;
}

.btn{
    padding: 1.2vh 2vw;
}

.btn--success{
    background-color: #24d177;
    color: white;
    border: 0;
}
.header__contentright{
    border: 1px solid;
    width: 30vw;
    height: 65vh;
    padding: 5vw;
    background-color: #38b767c7;
}

.header__contentright p,h2,input{
    margin-top: 2vh;
}

.form__control{
    padding: 0.3rem 0.8rem;
    width: 100%;
}

.btn--submit{
    background-color: black;
    color: white;
}

.main{
    max-width: 100vw;
    height: 40vh;
    padding: 5rem;
    text-align: center;
    position: relative;
}

.main__title::after{
    background-color: #3cb878;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 100px;
    z-index: 100;
}

.services{
    text-align: center;
}

.services__all{
    margin-block: 9vh;
    display: flex;
    justify-content: space-around;
    padding-inline: 18vw;
}

.item__img{
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-block: 2vh;
    background-color: #21d478;
}

.item__img i{
    font-size: 2vw;
    color: white;
}

.about{
    margin-block: 15vh;
    display: flex;
    background-color: #f7f5f6;
}

.about__left{
    margin-left: 5vw;
    padding: 5vw;
    width: 50vw;
}

.about__right{
    margin-left: 5vw;
    width: 50vw;
}

.about__img{
    width: 40vw;
    height: 50vh;
}

/* News And Events Section */

.news{
    text-align: center;
    margin-block: 2vh;
    position: relative;
}

.news__cards{
    display: flex;
    justify-content: center;
}

.news__card{
    background-color: #f7f5f6;
    width: 26.2vw;
    padding: 2rem;
    position: relative;
}

.news__img{
    width: 100%;
}

.card__datetext{
    background-color: #21d478;
    width: 90px;
    margin: 0 auto;
    font-size: 18px;
    position: absolute;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    top: 41%;
    left: 41%;
}

.card__text{
    margin-top: 5vh;
}

/* Testimonial Section */
.testimonial{
    margin-block: 3vh;
    padding: 5vw;
    text-align: center;
    color: white;
    max-width: 100vw;
    background: url(./img/plane\ bg.png);
}

.testimonial__content{
    margin-top: 2rem;
    display: flex;
    padding-block: 3rem;
    align-items: center;
    justify-content: space-evenly;
}

.testimonial__lefticon,.testimonial__righticon{
    border: 1px solid;
    padding: 0.5rem;
    height: 6vh;
}

.testimonial__box{
    background-color: white;
    color: black;
    width: 25vw;
    padding: 1rem;
}

.testimonial__img{
    width: 6vw;
    height: 13vh;
}

.testimonial__item{
    display: flex;
    align-items: center;
}

.testimonial__box p{
    margin-top: 1rem;
    text-align: left;
}