*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15vh;
    margin-top: 25vh;
}

.box{
    width: 100%;
    display: flex;
    justify-content: center;
}

.box h3{
    width: 10%;
}

.box div{
    width: 50%;
}

.checkboxes{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2vw;
}