
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@* Redirect to countries view *@
@Html.Action("Countries", new {countryNames = new List<string>() { "US","UK","India"} })