*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh;; */
}

.container{
    border: 1px solid;
    /* height: 80vh; */
    width: 70vw;
    margin: auto;
}

.main{
    gap: 8.5rem;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 3rem;
}

.main__left{
    /* border: 1px solid; */
    width: 50%;
}

.main__right{
    width: 50%;       
    /* border: 1px solid; */

}

.form__title{
    margin-bottom: 3vh;
}

.main__form{
}

.form__control{
    /* margin-bottom: 3vh; */
}

.login__input{
    display: block;
    width: 100%;
    padding: 0.2rem;
}

.regform__control{
    /* margin-bottom: 5vh; */
    width: 52%;
}

.form__input{
    display: flex;
    justify-content: space-between;
}

.dob input,.gender select{
    width: 52%;
}

a{
    text-decoration: none;
}

.form__title{
    font-size: 5vh;
}

.btn{
    padding: 1vh 4vw;
    
    cursor: pointer;
}

.btn__warning{
    color: white;
    background-color: orange;
    border: 0;
}

.btn__sucess{
    grid-column: span 2;
    color: white;
    background-color: green;
    border: 0;
}

.loginbtns{
    display: flex;
    justify-content: space-between;
    
}

.address__fields{
    /* text-align: end; */
    display: grid;
    /* gap: 3vh; */
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
    width: 52%;
}

.address__fields .address{
    grid-column: 1/span 2   ;
}

textarea,.code,.country{
    width: 100%;
}

.address__data{
    /* display: flex; */
}

.address__data label{
    /* display: block; */
}

.address__city input{
    width: 50%;
}

.address__state input{
    width: 50%;
}

.address__code, .address__country{
    grid-column: 1/span 2   ;
}

.error{
    color: red;
    margin-top: 0;
    margin-bottom: 3vh;
}
.regerror{
    color: red;
    margin-top: 0;
    margin-bottom: 3vh;
    margin-bottom: 5vh;
}

.chks{
    display: grid;
    grid-template-columns: auto auto;
    width: 52%;
}